/*===================================================================*/
/*
/* RESPONSIVE CSS
/*
/*===================================================================*/

/*===================================================================*/
/* RESPONSIVE NAVIGATION
/*===================================================================*/
.mean-remove,
nav#mobile-nav li {
	display: none!important;
}

a.meanmenu-reveal {
	display: none;
}

.mean-container .mean-bar {
	border-bottom: 1px solid #E3E3E3;
	float: left;
	width: 100%;
	height: 45px;
	position: relative;
	z-index: 200;
	z-index: 9999;
}

.mean-container a.meanmenu-reveal {
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	display: block;
}

.mean-container a.meanmenu-reveal span {
	background: url(../images/sprite.png) no-repeat -82px -883px;
	display: block;
	height: 35px;
	position: absolute;
	right: 2.8%;
	top: 5px;
	opacity: 1;
	width: 35px;
	-webkit-transition: all .3s;
        -moz-transition: all .3s;
         -ms-transition: all .3s;     
          -o-transition: all .3s;
}

.hero-header a.meanmenu-reveal span,
.single-post.mean-container a.meanmenu-reveal span {
	background-position: -82px -983px;
}

.hero-header .mean-bar,
.single-post.mean-container .mean-bar {
	border-bottom: none;
	height: 0;
	max-height: 0;
}

.mean-container a.meanmenu-reveal:hover span {
	opacity: .25;
}

.mean-container a.meanmenu-reveal.meanclose span {
	background-position: -82px -983px;
}

.mean-container .mean-nav {
	background: #141414;
	float: left;
	width: 100%;
}

.mean-container .mean-nav ul {
	display: none;
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
	-webkit-transition: all 0s;
        -moz-transition: all 0s;
         -ms-transition: all 0s;     
          -o-transition: all 0s;
}

.mean-container .mean-nav ul li {
	position: relative;
	float: left;
	width: 100%;
}

.mean-container ul.menu  li:last-child a {
	border-bottom: none;
}

.mean-container .mean-nav ul li a {
	color: #AAA;
	display: block;
	float: left;
	font-size: 15px;
	font-size: 1.5rem;
	font-weight: normal;
	margin: 0;
	padding: .3em 0;
	text-align: left;
	text-decoration: none;
	width: 90%;
	border-bottom: 1px solid #272727;
}

.mean-container .mean-nav ul li a:hover,
.mean-container .mean-nav li.current-menu-item a {
	color: #FFF;
}

.mean-container .menu {
	padding: 50px 5% 5%!important;
}

.mean-container .mean-push {
	clear: both;
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
}

.mean-nav .wrapper {
	margin: 0;
	padding: 0;
	width: 100%;
}

.mean-container .mean-bar, .mean-container .mean-bar * {
	-webkit-box-sizing: content-box;
	   -moz-box-sizing: content-box;
		    box-sizing: content-box;
}


/*===================================================================*/
/* PRIMARY RESPONSIVE
/*===================================================================*/
/* 2100px */
@media only screen and (max-width: 2100px) {
     #page, .posts-container.related { padding: 1.6%; }
     .page.no-hero #page { padding-top: 1.6%;}
     .footer-colophon, .page .entry-content-media { padding-left: 1.6%; padding-right: 1.6%; }
     .header { padding: 4.2% 0 5.8%; }
     .single-post .header, .hero-header .header { padding-top: 5.8%; }
     .post-grid { margin: 0.8% 0; }
     .post-grid.sml { width: 49.2%; }
     .blog .footer.infinite  { margin-top: 0.8%; }
     .post-grid:nth-of-type(3n+2), .related .post-grid:nth-of-type(3n+1) { margin-right: 0.8%; }
     .post-grid:nth-of-type(3n+3), .related .post-grid:nth-of-type(3n+2) { margin-left:  0.8%; }
}

/* 1500px */
@media only screen and (max-width: 1500px) {
     #page, .posts-container.related { padding: 2%; }
     .page.no-hero #page { padding-top: 2%;}
     .footer-colophon, .page .entry-content-media { padding-left: 2%; padding-right: 2%; }
     .header { padding: 4.8% 0 6.8%; }
     .single-post .header, .hero-header .header { padding-top: 6.8%; }
     .post-grid { margin: 1% 0; }
     .post-grid.sml { width: 49%; }
     .blog .footer.infinite  { margin-top: 1%; }
     .post-grid:nth-of-type(3n+2), .related .post-grid:nth-of-type(3n+1) { margin-right: 1%; }
     .post-grid:nth-of-type(3n+3), .related .post-grid:nth-of-type(3n+2) { margin-left:  1%; }
}

/* 1200px */
@media only screen and (max-width: 1200px) {
     #page, .posts-container.related { padding: 2.8%; }
     .page.no-hero #page { padding-top: 2.8%;}
     .footer-colophon, .page .entry-content-media { padding-left: 2.8%; padding-right: 2.8%; }
     .header { padding: 5.2% 0 8%; }
     .single-post .header, .hero-header .header { padding-top: 8%; }
     .post-grid { margin: 1.4% 0; }
     .post-grid.sml { width: 48.6%; }
     .blog .footer.infinite  { margin-top: 1.4%; }
     .post-grid:nth-of-type(3n+2), .related .post-grid:nth-of-type(3n+1) { margin-right: 1.4%; }
     .post-grid:nth-of-type(3n+3), .related .post-grid:nth-of-type(3n+2) { margin-left:  1.4%; }
}

/* 1100px */
@media only screen and (max-width: 1100px) {
	blockquote { margin-left: -5%; margin-right: -5%; }
	.entry-content img.size-full { margin-left: -20%; margin-right: -20%; max-width: 140%; }
}

/* 900px */
@media only screen and (max-width: 900px) {
    blockquote { margin-left: 0; margin-right: 0; }
    .entry-content img.size-full { margin-left: -8%; margin-right: -8%;max-width: 116%; }
}

/* 880px */
@media only screen and (max-width: 880px) {

	.single-post .post-grid.head blockquote {
		font-size: 30px;
		font-size: 3.0rem;
		line-height: 45px;
		line-height: 4.5rem;
		font-size: 4vw;
	     line-height: 5vw;
	}
	
	.sml .byline {
		bottom: 60px;
		left: 0;
		width: 100%;
		text-align: center;
	}

	.sml .byline span { display: block; }
}

/* 768px */
@media only screen and (max-width: 768px) {

     .header { padding: 8% 0 10.8%; }
    
     .single-post .header, .hero-header .header { padding-top: 10.8%; }

     .entry-content { padding: 10% 0; }

     /* FF */
	@-moz-document url-prefix() {
		.page .post-grid.head, .single-post .post-grid.head { margin-bottom: 10%!important; }
	}
   
   	.page .entry-content-media { padding: 0; }

   	#theme-wrapper.side-menu {
	   	border-right: none;
		height: auto;
		overflow: inherit;
		position: inherit;
		width: auto;
	 	-webkit-transform: translate3d(0, 0, 0); 
	 	   -moz-transform: translate3d(0, 0, 0); 
	 	    -ms-transform: translate3d(0, 0, 0); 
	 	     -o-transform: translate3d(0, 0, 0);
	 	   	   transform: translate3d(0, 0, 0); 
		-webkit-transform: translate(0,0); 
		   -moz-transform: translate(0,0);
		 	-o-transform: translate(0,0);
			   transform: translate(0,0);  
	}
 
   	.hidden-sidebar { display: none!important; }

   	.sidebar-btn { display: none!important; }

   	/* FOOTER */
	.footer-col,
	.footer-widgets {
		display: inherit;
		width: 100%;
	}

	.footer-col {
		padding-bottom: 80px;
		padding-top: 80px;
		padding-bottom: 8.0rem;
		padding-top: 8.0rem;
	}

	.footer-col-2 {
		border: none;
		border-bottom: 1px solid #E3E3E3;
		border-top: 1px solid #E3E3E3;
	}

     /* TYPOGRAPHY */
     h1, h2, h3, h4, h5, h6  { letter-spacing: 0.1em; } 


     h1 {
          font-size: 60px;
          font-size: 6.0rem;
          line-height: 70px;
          line-height: 7.0rem;
          font-size: 8vw;
          line-height: 8vw;
     }

     h2 {
          font-size: 60px;
          font-size: 6.0rem;
          font-size: 6vw;
          line-height: 80px;
          line-height: 8.0rem;
     }

     .post-grid.sml h2.entry-title {
          font-size: 30px;
          font-size: 3.0rem;
          font-size: 3vw;
          line-height: 45px;
          line-height: 4.5rem;
     }

     .post-grid h4 { 
		font-size: 3vw;
	     line-height: 3vw;	
	}
     
     /* BLOGROLL & SINGLE */
     .post-grid .entry-excerpt {
          margin: 30px auto 0;
          width: 80%;
     }

	.post-grid.sml .byline {
		display: none;
	}

	.byline {
		bottom: 60px;
		left: 0;
		opacity: 1;
		width: 100%;
		text-align: center;
	}

	.byline span {
		display: block;
	}

	.single-post .head .byline {
		left: 0;
		bottom: 80px;
	}

	.page .post-grid .down-arrow,
	.single-post .post-grid .down-arrow {
		background-position: -88px -94px;
		height: 14px;
		width: 24px;
		bottom: 25px;
		right: 20px;
	}

	.single-post .entry-meta {
		bottom: 15px;
		opacity: .5;
		right: 20px;
	}

	.comment .avatar {
		display: none;
	}

	.comment-body,
	.comments .children,
	.commentlist #respond.comment-respond {
		margin-left: 0!important;
	}

	#respond.comment-respond,
	.commentlist #respond.comment-respond {
		width: 100%;
	}

	.comment-form .form-submit {
		margin-top: 0;
	}

	.logged-in-as {
		display: none;
	}

	/* PAGINATION */
	.entry-navigation div {
		width: 20%;
	}

	.entry-navigation .social {
		width: 60%;
	}

	.entry-navigation .next a,
	.entry-navigation .previous a {
		-webkit-transition: background-color .3s;
	        -moz-transition: background-color .3s;
	         -ms-transition: background-color .3s;        
	          -o-transition: background-color .3s;
	}

	.entry-navigation .next a:hover,
	.entry-navigation .previous a:hover {
		background-color: #FDFDFD;
	}

	.entry-navigation .title {
		display: none;
	}
	
	.entry-navigation .arrow {
		display: block;
		opacity: 1;
	}

	.page-template-template-team-php .row.bean-team.hero {
		padding-top: 10%;
	}
}

/* 736px */
@media only screen and (max-width: 736px) {
	/* LANDSCAPE DEVICE FIX */
     .page .post-grid.head, .single-post .post-grid.head {
         min-height: 600px!important;
     }
}

/* 650px */
@media only screen and (max-width: 650px) {
	.background-video { display: none; }
}

/* 600px */
@media only screen and (max-width: 600px) {

	.row { padding: 0 8%; }

	.row.min-wrap.rcp-form { padding: 15% 8%; }

     .header { padding: 12% 0 14.8%; }

     .single-post .header, .hero-header .header { padding-top: 14.8%; }

	/* FOOTER */
     .blog .footer.infinite { margin-top: 2.8%; }

     .footer-col { padding-left: 2.8%; padding-right: 2.8%; }

     .copyright, .credit { float: none; text-align: center; }

     .blog .footer { margin-top: 2em; }

     /* TYPOGRAPHY */
	body, button, input, select, textarea, h1 span, blockquote cite {
		font-size: 17px; 
		font-size: 1.7rem; 
		line-height: 30px;
		line-height: 3.0rem;
	}

     h1 {
          font-size: 50px;
          font-size: 5.0rem;
          line-height: 55px;
          line-height: 5.5rem;
          font-size: 7vw;
          line-height: 7vw;
     }

     .logo h1 {
          font-size: 12vw;
          line-height: 12vw;
     }

     .header h5 {
		margin-top: 10px;
	}

     h2, .post-grid.sml h2.entry-title {
          font-size: 30px;
          font-size: 3.0rem;
          line-height: 45px;
          line-height: 4.5rem;
          font-size: 6vw;
          line-height: 6vw;
     }

     p,
	ul,
	ol,
	dl,
	dd,
	form
	table,
	address,
	fieldset,
	.gist,
	.jp-audio, 
	.bean-alert,
	.entry-content h1,
	.entry-content h2,
	.entry-content h3,
	.entry-content h4,
	.entry-content h5,
	.entry-content h6,
	.single-post .video-frame, 
	.bean-pricing-table .pricing-column,
	ul.children li.comment:last-child .comment-body:last-of-type p { 
		margin-bottom: 9%;
	}

	pre { 
		font-size: 14px;
		font-size: 1.4rem;
		margin: 11% 0 12%;
		padding: 7%;
	}

	blockquote {
		font-size: 22px; 
		font-size: 2.2rem;
		line-height: 38px; 
		line-height: 3.8rem; 
		margin-top: 13%;
		margin-bottom: 13%;
	}
	
	blockquote:after, blockquote:before, .wp-caption:after, .tiled-gallery:after, .tiled-gallery:before {
		width: 25%;
	}

	blockquote:before {
		margin-bottom: 13%;
	}

	blockquote:after {
		margin-top: 13%;
	}

	blockquote cite {
		font-size: 15px;
          font-size: 1.5rem;
		margin-top: 5%;
	}

	.single-post .post-grid.head blockquote {
		font-size: 20px;
		font-size: 2.0rem;
		line-height: 40px;
		line-height: 4.0rem;
		font-size: 6vw;
	     line-height: 8vw;
	}

	.entry-content img.size-full,
	.tiled-gallery:after {
		margin-top: 13%;
	}

	.tiled-gallery:before {
		margin-bottom: 13%;
	}

	.wp-caption:after {
		margin-top: 13%;
		margin-bottom: 13%;
	}

	.entry-content .tiled-gallery {
		margin-top: 10%;
		margin-bottom: 10%;
	}

     /* BLOGROLL / SINGLE */
     .post-grid:nth-of-type(3n+2),
     .post-grid:nth-of-type(3n+3) {
          margin-left: 0!important;
          margin-right: 0!important;
          margin-top: 0!important;
     }

     .post-grid.sml,
     .post-grid.lrg {
          height: 400px;
          margin-bottom: 2.8%;
          width: 100%;
     }

     .related .post-grid.sml {
     	margin-bottom: 2.8%!important;
     }

     .post-grid:last-of-type, 
     .related .post-grid.sml:last-of-type {
          margin-bottom: 0!important;
     }

     .post-grid .entry-excerpt {
          display: none;
     }

     .post-grid .byline {
		display: none;
	}

	.single-post .byline {
		display: block;
		left: 0!important;
	}
	
	.page .post-grid.head,
	.single-post .post-grid.head {
		max-height: 700px!important;
	}
	
	.single-post .entry-meta {
		display: none;
	}

	.entry-content img.size-full { 
		margin-left: -15%; 
		margin-right: -15%;
		max-width: 130%;
	}

	.comments-wrap.row {
		padding: 15% 8%;
	}

	.comments-wrap .row {
		padding: 0;
	}

	.comments-wrap textarea {
		padding-top: .9em;
	}

	.comment-meta {
		display: block;
	}

	.comment-meta:before {
		content: "";
		display: none;
	}

	.comment-respond form,
	.comment-respond form textarea {
		height: auto!important;
	}

	#cancel-comment {
		display: none;
	}
	
	.comment-form {
		max-height: none;
	}

	.comment-form input[type="text"], 
	.comment-form input[type="email"], 
	.comment-form input[type="url"] {
		width: 100%;
	}

	.comment-form label {
		top: inherit;
		width: auto;
	}

	.moderation { 
		display: none;
	}

	/* PAGINATION */
	.entry-navigation {
		display: flex;
		flex-wrap: wrap;
	}
	
	.entry-navigation div {
		float: left;
		width: 50%;
		padding: 0;
		-webkit-transition: background-color .3s;
	        -moz-transition: background-color .3s;
	         -ms-transition: background-color .3s;        
	          -o-transition: background-color .3s;
	}

	.entry-navigation .previous {
		border-right: 1px solid #DDD;
	}

	.entry-navigation .next {
		border-right: none;
	}
	
	.entry-navigation .social {
		border-left: none;
		border-right: none;
		display: none;
		width: 100%;	
	}

	.entry-navigation .social.mobile-show {
		display: block;
	}

	.entry-navigation .social a {
		margin: 0 2%;
	}

	.entry-navigation .social a:hover { 
		background-color: #E3E3E3;
	}

	.entry-navigation .social:hover a {
		opacity: 1;
	}

	.index-navigation { 
		margin-top: 2.8%; 
	}

	/* CONTACT */
	.page-template-template-contact .message label {
		display: block;
	}

	.rcp-access-btns { 
		margin-bottom: 15%;
	}

	.rcp-access-btns .btn {
		margin: 0 0 5px!important;
		width: 100%;
	}

	.subscribe {
		padding: 20% 8% 25%;
		margin: 0 -10% -1px;
		text-align: center;
		width: 120%;
	}

}

/* MOBILE */
@media only screen and (max-width : 414px) {
	.form-submit input,
	.form-submit .button,
	.gform_footer .button {
		width: 100%;
	}

	.comment-form .comment-subscription-form {
		display: none;
	}
}




/*===================================================================*/
/*
/* RETINA CSS
/*
/*===================================================================*/
/* @2x */
@media only screen and (-webkit-min-device-pixel-ratio : 2),only screen and (min--moz-device-pixel-ratio : 2),only screen and (-o-min-device-pixel-ratio : 2/1),only screen and (min-device-pixel-ratio : 2),only screen and (min-resolution : 192dpi),only screen and (min-resolution : 2dppx) {
	.bean-likes,
	.mobile-nav-toggle,
	.sidebar-btn .menu-icon,
	.entry-navigation .arrow,
	.index-pagination a.next, 
	.index-pagination a.prev,
	.entry-navigation .social a,
	.widget_bean_tweets .button,
	.single-post .post-grid .down-arrow,
	.mean-container a.meanmenu-reveal span {
		background-image: url(../images/retina/sprite@2x.png);
		background-size: 200px 1100px;
	}
	
	a.jp-play span,
	a.jp-pause span,
	.entry-content .mejs-controls .mejs-play button,
	.entry-content .mejs-controls .mejs-pause button,
	.entry-content .mejs-controls .mejs-volume-button button { 
		background-image:url(../images/retina/jplayer@2x.png);
		background-size: 36px  140px; 
	}
	
	.bean-shot {
		background-image: url(../images/retina/dribbble-hover@2x.png);
		background-size: 30px 30px;
	}

	.flickr_badge_image {
		background-image: url(../images/retina/flickr-hover@2x.png);
		background-size: 20px 10px;
	}

	.construction-banner {
		background-image:url(../images/retina/construction@2x.png);
		background-size: 100px 100px; 
	}

	.gfield_select,
	.wpcf7-form select {
		background-image:url(../images/retina/select@2x.png);
		background-size: 8px 54px; 
	}
}

/* @3x - IPHONE 6 PLUS AND SIMILAR HD RETINA */
@media screen and (min-device-width : 414px) and (-webkit-device-pixel-ratio: 3) {
	.bean-likes,
	.mobile-nav-toggle,
	.sidebar-btn .menu-icon,
	.entry-navigation .arrow,
	.index-pagination a.next, 
	.index-pagination a.prev,
	.entry-navigation .social a,
	.widget_bean_tweets .button,
	.single-post .post-grid .down-arrow,
	.mean-container a.meanmenu-reveal span {
		background-image: url(../images/retina/sprite@3x.png);
	}
	
	a.jp-play span,
	a.jp-pause span,
	.entry-content .mejs-controls .mejs-play button,
	.entry-content .mejs-controls .mejs-pause button,
	.entry-content .mejs-controls .mejs-volume-button button { 
		background-image:url(../images/retina/jplayer@3x.png);
	}
	
	.bean-shot {
		background-image: url(../images/retina/dribbble-hover@3x.png);
	}

	.flickr_badge_image {
		background-image: url(../images/retina/flickr-hover@3x.png);
	}

	.construction-banner {
		background-image:url(../images/retina/construction@3x.png);
	}

	.gfield_select,
	.wpcf7-form select {
		background-image:url(../images/retina/select@3x.png);
	}
}